<!doctype html>
<html ng-app="aktors">
    <head>
        <title>Aktors Application</title>
        <link href="css/angular-bootstrap.css" rel="stylesheet"></link>
        <script src="js/angular-bootstrap.js" type="text/javascript"></script>

    </head>

    <a href="#/home">Home</a>
    <a href="#/clients">Clients</a>
    <a href="#/products">Products</a>

    <body>
        <div ng-view="" class="container">

        </div>
        <script src="js/main.js" type="text/javascript"></script>
    </body>

</html>

