<!DOCTYPE html>
<http use-expressions="true" auto-config="true" ></http>
<html xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <meta charset="UTF-8"/>
        <title>Aktors Application</title>
        <link rel="stylesheet" href="/main.css" />
    </head>
    <body>
        <!-- tag::logout[] -->
        <div>
            Hello, <span th:text="${#authentication.name}">user</span>.
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Log Out"/>
            </form>
        </div>

        <!-- end::logout[] -->

        <div id="react"></div>

        <script src="built/bundle.js" th:attr="admin=${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"></script>

    </body>
</html>